include ../components/header.pug
body(class="container")
    include ../components/title.pug
    div(id="todoform")
        include ../components/inputform.pug
    div(id="todolist")
        include ../components/todolist.pug